<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/custom-styles.css" /> --}}
  <title>Instartist</title>
</head>
<body class="flex-column min-100-vh">
  <header class="hero flex-shrink-0">
    <nav>
      <ul class="flex-row">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if loggedIn}}
        <li><button id="logout" class="logout-link">Logout</button></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
    <h1 class="app-title">Instartist</h1>
  </header>
  <main class="flex-grow-1">
   {{{body}}}
  </main>
  <footer class="text-center mt-3 flex-shrink-0">crud studs &copy;2020</footer>
    {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>