{{!-- <form id="new-post-form" class="card">
  <div class="card-header"><h3>Create New Post</h3></div>
  <div class="card-body">
    <div>
      <label for="post-title">Title</label>
      <input type="text" name="post-title" id="post-title" class="w-100 p-3 post-title">
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea name="post-content" id="post-content" rows="10" class="w-100 p-3 post-content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </div>
</form>
<script src="/javascript/add-post.js"></script> --}}

<form action="/api/posts" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="work-img">Example file input</label>
    <input type="file" class="form-control-file" id="work-img" name="work-img">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>