
<form id="new-post-form" class="card">
      <div class="card-header"><h3>Create New Post</h3></div>
      <div class="card-body">
        <div>
          <label for="post-title">Title</label>
          <input type="text" name="post-title" id="post-title" class="w-100 p-3 post-title" value="{{posts.title}}" >
        </div>
        <div>
          <label for="post-image">Image</label> <!--see how work claudinary -->
          <button type="button" class="btn btn-primary" id="button">Search</button>
        </div>
         <div>
          <label for="post-content">Dimension</label>
          <textarea name="post-dimension" id="post-dimension" rows="2" class="w-100 p-3 post-dimension">{{posts.dimension}}</textarea>
        </div>
         <div>
          <label for="post-content">Description</label>
          <textarea name="post-description" id="post-description" rows="2" class="w-100 p-3 post-description">{{posts.description}}</textarea>
        </div>        
         <div>
          <label for="post-content">Media</label>
          <textarea name="post-media" id="post-media" rows="2" class="w-100 p-3 post-media">{{posts.media}}</textarea>
        </div>        
        <button type="submit" class="btn btn-primary" id="update-post">Update</button>
        <button type="submit" class="btn btn-primary" id="delete-post">Delete</button>
      </div>
    </form>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>