<div class="container parent-container-h-center">
  <div class="spinner-wrapper d-none flex-column align-items-center justify-content-center mt-5">
    <div id="spinner" class="spinner-grow text-warning d-none mt-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
  <form id="udpate-user-form" class="global-form">
    {{!-- <div class="card-header bg-dark text-light">
      <h3>Edit User</h3>
    </div> --}}
    <h2>Edit user</h2>
      <div class="form-group">
        <label for="bio">Short Bio</label>
        <input type="text" class="form-control" id="bio" name="bio" value="{{userMeta.bio}}">
      </div>
      <div class="form-group">
        <label for="medium">Preferred Medium</label>
        <input type="text" class="form-control" id="medium" name="medium" value="{{userMeta.medium}}">
      </div>
      <div class="form-group">
        <label for="interests">Interests</label>
        <input type="text" class="form-control" id="interests" name="interests" value="{{userMeta.interests}}">
      </div>
      <div class="form-group">
        <label for="user-img">Upload a JPG or PDF</label>
        <input type="file" class="form-control-file" id="user-img" name="user-img" accept="images/*"> 
      </div>
      <button type="submit" class="btn btn-dark" id="update">Update!</button>
      <button type="button" class="btn btn-danger" id="delete">Delete User</button>
  </form>
</div>
<script src="/javascript/edit-user.js"></script>
<script src="/javascript/delete-user.js"></script>