{{!-- {{#each posts}}
 {{> post-info }}
{{/each}} --}}

<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Our Work</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    {{#each posts}}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center">
        <a href="/post/{{id}}" class="d-block mb-4 h-100">
          <div class="cust-img-thumb" style="background-image:url('{{img_url}}')"></div> 
        </a>
      </div>
      {{!-- <div class="col-lg-3 col-md-4 col-6 text-center">
        <a href="/post/{{id}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{img_url}}" alt="">
        </a>
      </div> --}}
    {{/each}}

  </div><!-- /.row -->

</div><!-- /.container -->