    <header class= "container-fluid banner landing">
      <div class="row">
        <div class="col-md-12"> 
          <nav class="navbar navbar-md">
            <div class="navbar-brand">INSTARTIST</div> 
            <ul class="nav">
              <li class="nav-item">
                <a href="/homepage" class="nav-link">SHOWROOM</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link">LOGIN</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="nav-link">SIGN UP</a>
              </li>
            </ul>
          </nav>   
        </div> 
      <div class="col-md-6 offset-md-3 info">
        <h1 class="text-center">INSTARTIST</h1>
        <p class="text-center">
            Welcome! Login to let your favorite artist know how inspired you are by their latest masterpiece. 
            Or Sign Up and allow your greatest creations to be displayed in our Community Showroom to be viewed by our members and guests!
        </p>
        <a href="/homepage" class="btn btn-md text-center">VIEW SHOWROOM</a>
      </div> 
    </div>
    </header> 

  {{!-- <footer class="text-center mt-3 flex-shrink-0">crud studs &copy;2020</footer> --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> --}}