    <header class= "container-fluid banner landing">
      <div class="row">
        <div class="col-md-12"> 
          {{!-- <nav class="navbar navbar-md">
            <div class="navbar-brand">INSTARTIST</div> 
            <ul class="nav">
              <li class="nav-item">
                <a href="/homepage" class="nav-link">SHOWROOM</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link">LOGIN</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="nav-link">SIGN UP</a>
              </li>
            </ul>
          </nav>    --}}
          <nav class="navbar navbar-expand-lg navbar-light">
            <h2 class="navbar-brand" href="/">Instartist</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              {{!-- <ul class="navbar-nav ml-auto"> --}}
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Showroom</a>
                </li>
                {{#if loggedIn}}
                <li class="nav-item">
                  <a id="logout" class="nav-link" href="#">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}
              </ul>
            </div>
          </nav>
        </div> 
      <div class="col-md-6 col-8 offset-md-3 offset-2 info">
        {{!-- <h1 class="text-center">INSTARTIST</h1> --}}
        <p class="text-center">
            Welcome! Login to let your favorite artist know how inspired you are by their latest masterpiece. 
            Or Sign Up and allow your greatest creations to be displayed in our Community Showroom to be viewed by our members and guests!
        </p>
        <a href="/homepage" class="btn btn-md text-center">VIEW SHOWROOM</a>
      </div> 
    </div>
    </header> 

 