<div class="container parent-container-h-center">
  <form id="login-form" class="global-form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="username-login">Username</label>
      <input type="text" class="form-control" id="username-login">
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input type="password" class="form-control" id="password-login">
    </div>
    <button type="submit" class="btn btn-dark">Login!</button>
  </form>
</div>{{!-- /.container --}}

{{!-- only include front end js from this template since we don't need login functionality in the other views --}}
<script src="/javascript/login.js"></script>
