.img-thumbnail {
  border: none;
  height: 27vh;
}

.single-post-img {
  height: 80vh;
}

#user-img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}


/* spinner */
/* .spinner-wrapper {
  height: 100vh;
} */

#spinner {
  width: 5rem;
  height: 5rem;
}

/* signup form */
#long-form {
  display: none;
}


/* getting footer to stay at bottom */
.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}
