:root {
	--main: #fffbf8;
	/* --main: #fff7ef; */
	/* --main: #DCE0E3; */
	/* --main: #E6EAED; */
	--accent: rgba(238, 234, 234, 0.781);
	 --tertiary: #788585;
	/* --light: #9b928f;
	--light-dark: #6f6866;
	--dark: #38302e;
	--border-radius: 0.3rem;
	--spacing-one: calc(1rem * 0.25);
	--spacing-two: calc(1rem * 0.5);
	--spacing-three: 1rem;
	--spacing-four: calc(1rem * 1.5);
	--spacing-five: calc(1rem * 3);  */
}

/* LANDING PAGE */
#landing-page body{
	margin: 0;
	padding:0;
	/* font-family: 'Playfair Display SC', serif; */
  color: #fff;
  font-family: 'Inter', sans-serif;

}

#landing-page .landing{
	background: url(https://images.pexels.com/photos/4203098/pexels-photo-4203098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
#landing-page .banner{
	height: 100vh;
	width: 100%;	
	/* font-family: 'Playfair Display SC', serif; */

}
#landing-page .navbar{
	margin-top: 4%;
}
#landing-page .navbar-brand{
	color: rgb(66, 58, 58);
	font-size: 2.2em;
	margin-left: 10%;
	text-transform: uppercase;
}
#landing-page .nav{
	margin-right: 10%;
}
#landing-page .nav li a{
	color:rgb(78, 72, 72);
	font-size:1.1em;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
}
#landing-page .banner .info{
	margin-top: 15%;
	transform: translateY(-15%);
	background: var(--accent);	
  border-radius: 10px;
  padding: 1rem;
  /* additional padding on top for possible logo */
  padding-top: 4rem;
}
#landing-page .banner .info h1{
	margin-top: 10px;
	font-size: 1.5em;
	color: rgb(71, 71, 68);
	letter-spacing: 2px;	
}
#landing-page .banner .info p{
	/* font-family: 'Times New Roman', Times, serif; */
	font-size: 1.2em;
  color: rgb(52, 65, 83);	
  font-family: 'Inter', sans-serif;	
}

#landing-page .banner .info a {
  /* centering view showroom button */
	margin-left: 50%;
	transform: translateX(-50%);
	color: rgb(238, 238, 232);
	background: rgba(80, 83, 85, 0.527);
	padding: 10px 20px;
	font-size:1em;
	margin-bottom: 10px;
}
#landing-page .banner .info a:hover{
	background:#fff;
	color:gray;
}

/* .gallery{
	background-image: url(https://images.pexels.com/photos/132205/pexels-photo-132205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	height: 100vh;
	width: 100%;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
} */

/* INNER PAGES */

body {
  background-color: var(--main);
  font-family: 'Inter', sans-serif;
}

.navbar-brand {
  color: rgb(66, 58, 58);
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
}

/* SHOWROOM */
.work-title {
  margin-top: 4rem;
}

/* DASHBOARD */
/* DASHBOARD ARTIST META CARD */
.card {
  margin: 5rem 0;
  border-radius: 1.5rem!important;
  background-color: #eeeeee;
}

#user-avatar, #user-no-avatar {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}

/* IMAGE STYLES */

/* gallery grid images */
.cust-img-thumb {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
  height: 0;
  padding-bottom: 100%; 
  /* height: 40vh; */
}

/* large image on single post page */
.single-post-img {
  height: 80vh;
}




/* spinner */

#spinner {
  width: 5rem;
  height: 5rem;
}

.parent-container-h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* flash messages */
.alert-error, .alert-success {
  color: #680129;
    background-color:#a09197;
    border-color: #805e6b;
}


/* signup form */
.global-form {
  margin: 5rem 0;
}

.global-form h2{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#long-form {
  display: none;
}

/* login form */



/* BUTTON STYLES */


/* FORM STYLES */
.form-control {
  border-radius: .5rem;
}


/* getting footer to stay at bottom */
.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

footer {
  visibility: hidden;
}
/* 
@media screen and (min-width: 768px) {
  footer {
    visibility: visible;
  }
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
 }

@media screen and (min-width: 768px ) {
  #landing-page .banner .info h1 {
    font-size: 2.5em;
  }

  #landing-page .banner .info p{
    font-size: 1.5em;
  }

  #landing-page .banner .info a {
    font-size:1.5em;
  }
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */