.img-thumbnail {
  border: none;
  height: 300px;
}

.single-post-img {
  height: 800px;
}


/* getting footer to stay at bottom */
.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}
